## Final Project Submission

Please fill out:
* Student name: 
* Student pace: self paced / part time / full time
* Scheduled project review date/time: 
* Instructor name: 
* Blog post URL:

In [1]:
# Your code here - remember to use markdown cells for comments as well!
#load the necessary libraries 
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
#load the data to work with
aircraft_df = pd.read_csv('data/Aviation_Data.csv')
aircraft_df.head()

<ipython-input-2-20fd87075e1e>:2: DtypeWarning: Columns (6,7,28) have mixed types. Specify dtype option on import or set low_memory=False.
  aircraft_df = pd.read_csv('data/Aviation_Data.csv')

,Event.Id,Investigation.Type,Accident.Number,Event.Date,Location,Country,Latitude,Longitude,Airport.Code,Airport.Name,...,Purpose.of.flight,Air.carrier,Total.Fatal.Injuries,Total.Serious.Injuries,Total.Minor.Injuries,Total.Uninjured,Weather.Condition,Broad.phase.of.flight,Report.Status,Publication.Date
0,20001218X45444,Accident,SEA87LA080,1948-10-24,"MOOSE CREEK, ID",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,2.0,0.0,0.0,0.0,UNK,Cruise,Probable Cause,NaN
1,20001218X45447,Accident,LAX94LA336,1962-07-19,"BRIDGEPORT, CA",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,4.0,0.0,0.0,0.0,UNK,Unknown,Probable Cause,19-09-1996
2,20061025X01555,Accident,NYC07LA005,1974-08-30,"Saltville, VA",United States,36.922223,-81.878056,NaN,NaN,...,Personal,NaN,3.0,NaN,NaN,NaN,IMC,Cruise,Probable Cause,26-02-2007
3,20001218X45448,Accident,LAX96LA321,1977-06-19,"EUREKA, CA",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,2.0,0.0,0.0,0.0,IMC,Cruise,Probable Cause,12-09-2000
4,20041105X01764,Accident,CHI79FA064,1979-08-02,"Canton, OH",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,1.0,2.0,NaN,0.0,VMC,Approach,Probable Cause,16-04-1980

In [3]:
aircraft_df.shape

(90348, 31)

In [4]:
#replace '.' with '_' across the column titles of the dataframe
aircraft_df.columns = aircraft_df.columns.str.replace('.', '_')
print(aircraft_df)

             Event_Id Investigation_Type Accident_Number  Event_Date  \
0      20001218X45444           Accident      SEA87LA080  1948-10-24
1      20001218X45447           Accident      LAX94LA336  1962-07-19
2      20061025X01555           Accident      NYC07LA005  1974-08-30
3      20001218X45448           Accident      LAX96LA321  1977-06-19
4      20041105X01764           Accident      CHI79FA064  1979-08-02
...               ...                ...             ...         ...
90343  20221227106491           Accident      ERA23LA093  2022-12-26
90344  20221227106494           Accident      ERA23LA095  2022-12-26
90345  20221227106497           Accident      WPR23LA075  2022-12-26
90346  20221227106498           Accident      WPR23LA076  2022-12-26
90347  20221230106513           Accident      ERA23LA097  2022-12-29

              Location        Country   Latitude  Longitude Airport_Code  \
0      MOOSE CREEK, ID  United States        NaN        NaN          NaN
1       BRIDGEPORT, CA  United States        NaN        NaN          NaN
2        Saltville, VA  United States  36.922223 -81.878056          NaN
3           EUREKA, CA  United States        NaN        NaN          NaN
4           Canton, OH  United States        NaN        NaN          NaN
...                ...            ...        ...        ...          ...
90343    Annapolis, MD  United States        NaN        NaN          NaN
90344      Hampton, NH  United States        NaN        NaN          NaN
90345       Payson, AZ  United States    341525N   1112021W          PAN
90346       Morgan, UT  United States        NaN        NaN          NaN
90347       Athens, GA  United States        NaN        NaN          NaN

      Airport_Name  ... Purpose_of_flight         Air_carrier  \
0              NaN  ...          Personal                 NaN
1              NaN  ...          Personal                 NaN
2              NaN  ...          Personal                 NaN
3              NaN  ...          Personal                 NaN
4              NaN  ...          Personal                 NaN
...            ...  ...               ...                 ...
90343          NaN  ...          Personal                 NaN
90344          NaN  ...               NaN                 NaN
90345       PAYSON  ...          Personal                 NaN
90346          NaN  ...          Personal  MC CESSNA 210N LLC
90347          NaN  ...          Personal                 NaN

      Total_Fatal_Injuries Total_Serious_Injuries Total_Minor_Injuries  \
0                      2.0                    0.0                  0.0
1                      4.0                    0.0                  0.0
2                      3.0                    NaN                  NaN
3                      2.0                    0.0                  0.0
4                      1.0                    2.0                  NaN
...                    ...                    ...                  ...
90343                  0.0                    1.0                  0.0
90344                  0.0                    0.0                  0.0
90345                  0.0                    0.0                  0.0
90346                  0.0                    0.0                  0.0
90347                  0.0                    1.0                  0.0

      Total_Uninjured Weather_Condition  Broad_phase_of_flight  \
0                 0.0               UNK                 Cruise
1                 0.0               UNK                Unknown
2                 NaN               IMC                 Cruise
3                 0.0               IMC                 Cruise
4                 0.0               VMC               Approach
...               ...               ...                    ...
90343             0.0               NaN                    NaN
90344             0.0               NaN                    NaN
90345             1.0               VMC                    NaN
90346             0.0               NaN                    NaN
90347             1.0               NaN                    NaN

        Report_Status Publication_Date
0      Probable Cause              NaN
1      Probable Cause       19-09-1996
2      Probable Cause       26-02-2007
3      Probable Cause       12-09-2000
4      Probable Cause       16-04-1980
...               ...              ...
90343             NaN       29-12-2022
90344             NaN              NaN
90345             NaN       27-12-2022
90346             NaN              NaN
90347             NaN       30-12-2022

[90348 rows x 31 columns]

In [6]:
#look at the different values of the Investigation_Type column
print(aircraft_df.Investigation_Type.unique())

['Accident' 'Incident' '25-09-2020' '14-06-2021' '03-11-2020' '24-02-2021'
 '02-02-2021' '05-05-2021' '03-12-2020' '07-12-2020' '06-05-2021'
 '19-11-2020' '04-08-2021' '13-09-2021' '10-06-2021' '14-12-2021'
 '08-06-2021' '24-06-2021' '24-08-2021' '31-03-2021' '27-05-2021'
 '20-05-2021' '18-11-2020' '25-05-2021' '01-06-2021' '15-07-2021'
 '15-10-2021' '26-09-2020' '03-06-2021' '29-09-2021' '28-01-2021'
 '20-10-2021' '11-12-2020' '11-02-2021' '13-12-2021' '06-01-2021'
 '31-08-2021' '04-03-2021' '05-04-2021' '26-01-2021' '29-01-2021'
 '26-08-2021' '08-11-2021' '20-08-2021' '05-01-2021' '22-09-2021'
 '20-09-2021' '16-07-2021' '19-10-2021' '16-11-2021' '17-12-2021'
 '14-06-2022' '22-06-2022' '13-10-2022' '03-11-2022' '13-07-2022'
 '05-07-2022' '01-09-2022' '12-08-2022' '08-09-2022' '22-09-2022'
 '01-11-2022' '01-07-2022' '20-07-2022' '06-10-2022' '23-09-2022'
 '02-12-2022' '05-08-2022' '08-12-2022' '15-12-2022' '20-12-2022']

In [7]:
#look at the number of occurrences of each value
print(aircraft_df.Investigation_Type.value_counts())

Investigation_Type
Accident      85015
Incident       3874
25-09-2020      702
26-09-2020       60
02-02-2021       39
              ...
13-09-2021        1
04-08-2021        1
05-08-2022        1
03-11-2020        1
06-01-2021        1
Name: count, Length: 71, dtype: int64

In [8]:
#determine the type of each investigation data value
investigation_unique_values = aircraft_df.Investigation_Type.unique()
investigation_types = [type(val) for val in investigation_unique_values]
print(investigation_types)

[<class 'str'>, <class 'str'>, <class 'str'>, <class 'str'>, <class 'str'>, <class 'str'>, <class 'str'>, <class 'str'>, <class 'str'>, <class 'str'>, <class 'str'>, <class 'str'>, <class 'str'>, <class 'str'>, <class 'str'>, <class 'str'>, <class 'str'>, <class 'str'>, <class 'str'>, <class 'str'>, <class 'str'>, <class 'str'>, <class 'str'>, <class 'str'>, <class 'str'>, <class 'str'>, <class 'str'>, <class 'str'>, <class 'str'>, <class 'str'>, <class 'str'>, <class 'str'>, <class 'str'>, <class 'str'>, <class 'str'>, <class 'str'>, <class 'str'>, <class 'str'>, <class 'str'>, <class 'str'>, <class 'str'>, <class 'str'>, <class 'str'>, <class 'str'>, <class 'str'>, <class 'str'>, <class 'str'>, <class 'str'>, <class 'str'>, <class 'str'>, <class 'str'>, <class 'str'>, <class 'str'>, <class 'str'>, <class 'str'>, <class 'str'>, <class 'str'>, <class 'str'>, <class 'str'>, <class 'str'>, <class 'str'>, <class 'str'>, <class 'str'>, <class 'str'>, <class 'str'>, <class 'str'>, <class 'str'>, <class 'str'>, <class 'str'>, <class 'str'>, <class 'str'>]

In [9]:
#take a closer look at the entries exluding accident and incident as an investigation type
investigation_excluded_values = ['Accident', 'Incident']
investigation_filtered_data = aircraft_df[~aircraft_df.Investigation_Type.isin(investigation_excluded_values)]
print(investigation_filtered_data)

      Event_Id Investigation_Type Accident_Number Event_Date Location Country  \
64030      NaN         25-09-2020             NaN        NaN      NaN     NaN
64050      NaN         25-09-2020             NaN        NaN      NaN     NaN
64052      NaN         25-09-2020             NaN        NaN      NaN     NaN
64388      NaN         25-09-2020             NaN        NaN      NaN     NaN
64541      NaN         25-09-2020             NaN        NaN      NaN     NaN
...        ...                ...             ...        ...      ...     ...
90004      NaN         15-12-2022             NaN        NaN      NaN     NaN
90010      NaN         15-12-2022             NaN        NaN      NaN     NaN
90031      NaN         15-12-2022             NaN        NaN      NaN     NaN
90090      NaN         20-12-2022             NaN        NaN      NaN     NaN
90097      NaN         20-12-2022             NaN        NaN      NaN     NaN

      Latitude Longitude Airport_Code Airport_Name  ... Purpose_of_flight  \
64030      NaN       NaN          NaN          NaN  ...               NaN
64050      NaN       NaN          NaN          NaN  ...               NaN
64052      NaN       NaN          NaN          NaN  ...               NaN
64388      NaN       NaN          NaN          NaN  ...               NaN
64541      NaN       NaN          NaN          NaN  ...               NaN
...        ...       ...          ...          ...  ...               ...
90004      NaN       NaN          NaN          NaN  ...               NaN
90010      NaN       NaN          NaN          NaN  ...               NaN
90031      NaN       NaN          NaN          NaN  ...               NaN
90090      NaN       NaN          NaN          NaN  ...               NaN
90097      NaN       NaN          NaN          NaN  ...               NaN

      Air_carrier Total_Fatal_Injuries Total_Serious_Injuries  \
64030         NaN                  NaN                    NaN
64050         NaN                  NaN                    NaN
64052         NaN                  NaN                    NaN
64388         NaN                  NaN                    NaN
64541         NaN                  NaN                    NaN
...           ...                  ...                    ...
90004         NaN                  NaN                    NaN
90010         NaN                  NaN                    NaN
90031         NaN                  NaN                    NaN
90090         NaN                  NaN                    NaN
90097         NaN                  NaN                    NaN

      Total_Minor_Injuries Total_Uninjured Weather_Condition  \
64030                  NaN             NaN               NaN
64050                  NaN             NaN               NaN
64052                  NaN             NaN               NaN
64388                  NaN             NaN               NaN
64541                  NaN             NaN               NaN
...                    ...             ...               ...
90004                  NaN             NaN               NaN
90010                  NaN             NaN               NaN
90031                  NaN             NaN               NaN
90090                  NaN             NaN               NaN
90097                  NaN             NaN               NaN

       Broad_phase_of_flight Report_Status Publication_Date
64030                    NaN           NaN              NaN
64050                    NaN           NaN              NaN
64052                    NaN           NaN              NaN
64388                    NaN           NaN              NaN
64541                    NaN           NaN              NaN
...                      ...           ...              ...
90004                    NaN           NaN              NaN
90010                    NaN           NaN              NaN
90031                    NaN           NaN              NaN
90090                    NaN           NaN              NaN
90097                    NaN           NaN              NaN

[1459 rows x 31 columns]

In [10]:
#look at a few more examples from above
print(aircraft_df[aircraft_df.Investigation_Type.isin(['13-09-2021', '04-08-2021', '05-08-2022', '03-11-2020', '06-01-2021'])])

      Event_Id Investigation_Type Accident_Number Event_Date Location Country  \
74420      NaN         03-11-2020             NaN        NaN      NaN     NaN
79013      NaN         04-08-2021             NaN        NaN      NaN     NaN
79821      NaN         13-09-2021             NaN        NaN      NaN     NaN
84151      NaN         06-01-2021             NaN        NaN      NaN     NaN
89492      NaN         05-08-2022             NaN        NaN      NaN     NaN

      Latitude Longitude Airport_Code Airport_Name  ... Purpose_of_flight  \
74420      NaN       NaN          NaN          NaN  ...               NaN
79013      NaN       NaN          NaN          NaN  ...               NaN
79821      NaN       NaN          NaN          NaN  ...               NaN
84151      NaN       NaN          NaN          NaN  ...               NaN
89492      NaN       NaN          NaN          NaN  ...               NaN

      Air_carrier Total_Fatal_Injuries Total_Serious_Injuries  \
74420         NaN                  NaN                    NaN
79013         NaN                  NaN                    NaN
79821         NaN                  NaN                    NaN
84151         NaN                  NaN                    NaN
89492         NaN                  NaN                    NaN

      Total_Minor_Injuries Total_Uninjured Weather_Condition  \
74420                  NaN             NaN               NaN
79013                  NaN             NaN               NaN
79821                  NaN             NaN               NaN
84151                  NaN             NaN               NaN
89492                  NaN             NaN               NaN

       Broad_phase_of_flight Report_Status Publication_Date
74420                    NaN           NaN              NaN
79013                    NaN           NaN              NaN
79821                    NaN           NaN              NaN
84151                    NaN           NaN              NaN
89492                    NaN           NaN              NaN

[5 rows x 31 columns]

In [11]:
#drop all rows that do not contain incident or accident as an investigation type
aircraft_df = aircraft_df[aircraft_df.Investigation_Type.isin(investigation_excluded_values)]
aircraft_df

,Event_Id,Investigation_Type,Accident_Number,Event_Date,Location,Country,Latitude,Longitude,Airport_Code,Airport_Name,...,Purpose_of_flight,Air_carrier,Total_Fatal_Injuries,Total_Serious_Injuries,Total_Minor_Injuries,Total_Uninjured,Weather_Condition,Broad_phase_of_flight,Report_Status,Publication_Date
0,20001218X45444,Accident,SEA87LA080,1948-10-24,"MOOSE CREEK, ID",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,2.0,0.0,0.0,0.0,UNK,Cruise,Probable Cause,NaN
1,20001218X45447,Accident,LAX94LA336,1962-07-19,"BRIDGEPORT, CA",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,4.0,0.0,0.0,0.0,UNK,Unknown,Probable Cause,19-09-1996
2,20061025X01555,Accident,NYC07LA005,1974-08-30,"Saltville, VA",United States,36.922223,-81.878056,NaN,NaN,...,Personal,NaN,3.0,NaN,NaN,NaN,IMC,Cruise,Probable Cause,26-02-2007
3,20001218X45448,Accident,LAX96LA321,1977-06-19,"EUREKA, CA",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,2.0,0.0,0.0,0.0,IMC,Cruise,Probable Cause,12-09-2000
4,20041105X01764,Accident,CHI79FA064,1979-08-02,"Canton, OH",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,1.0,2.0,NaN,0.0,VMC,Approach,Probable Cause,16-04-1980
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
90343,20221227106491,Accident,ERA23LA093,2022-12-26,"Annapolis, MD",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,0.0,1.0,0.0,0.0,NaN,NaN,NaN,29-12-2022
90344,20221227106494,Accident,ERA23LA095,2022-12-26,"Hampton, NH",United States,NaN,NaN,NaN,NaN,...,NaN,NaN,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN
90345,20221227106497,Accident,WPR23LA075,2022-12-26,"Payson, AZ",United States,341525N,1112021W,PAN,PAYSON,...,Personal,NaN,0.0,0.0,0.0,1.0,VMC,NaN,NaN,27-12-2022
90346,20221227106498,Accident,WPR23LA076,2022-12-26,"Morgan, UT",United States,NaN,NaN,NaN,NaN,...,Personal,MC CESSNA 210N LLC,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN
90347,20221230106513,Accident,ERA23LA097,2022-12-29,"Athens, GA",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,0.0,1.0,0.0,1.0,NaN,NaN,NaN,30-12-2022

In [12]:
#double-check the only investigation values are Accident and Incident
aircraft_df.Investigation_Type.unique()

array(['Accident', 'Incident'], dtype=object)

In [13]:
#look at some exampls of rows where the Investigation_Type is 'Incident'
print(aircraft_df[aircraft_df.Investigation_Type.isin(['Incident'])])

             Event_Id Investigation_Type Accident_Number  Event_Date  \
23     20020917X02333           Incident      LAX82IA034  1982-01-03
40     20020917X01764           Incident      ATL82IA029  1982-01-05
79     20020917X01897           Incident      CHI82IA026  1982-01-12
80     20020917X01765           Incident      ATL82IA034  1982-01-12
119    20020917X01766           Incident      ATL82IA038  1982-01-19
...               ...                ...             ...         ...
90268  20221125106356           Incident      DCA23WA074  2022-11-21
90278  20221125106362           Incident      DCA23WA076  2022-11-24
90280  20221125106357           Incident      DCA23WA075  2022-11-25
90285  20221222106484           Incident      DCA23WA099  2022-11-26
90310  20221222106485           Incident      DCA23WA100  2022-12-05

             Location        Country Latitude Longitude Airport_Code  \
23       VAN NUYS, CA  United States      NaN       NaN          VNY
40      PENSACOLA, FL  United States      NaN       NaN          NaN
79        CHICAGO, IL  United States      NaN       NaN          ORD
80     CLARKSBURG, WV  United States      NaN       NaN          CKB
119    WASHINGTON, DC  United States      NaN       NaN          IAD
...               ...            ...      ...       ...          ...
90268       Maturin,       Venezuela      NaN       NaN          NaN
90278     MaiquetÃ­a,       Venezuela      NaN       NaN          NaN
90280       Breslau,          Canada      NaN       NaN          NaN
90285       Bangkok,        Thailand      NaN       NaN          NaN
90310       Bangkok,        Thailand      NaN       NaN          NaN

                 Airport_Name  ... Purpose_of_flight  \
23                   VAN NUYS  ...          Personal
40                        NaN  ...          Business
79     CHICAGO O'HARE INTER'L  ...           Unknown
80                    BENEDUM  ...           Unknown
119                       NaN  ...             Ferry
...                       ...  ...               ...
90268                     NaN  ...               NaN
90278                     NaN  ...               NaN
90280                     NaN  ...               NaN
90285                     NaN  ...               NaN
90310                     NaN  ...               NaN

                     Air_carrier Total_Fatal_Injuries Total_Serious_Injuries  \
23                           NaN                  0.0                    0.0
40                           NaN                  0.0                    0.0
79          Trans World Airlines                  0.0                    0.0
80         Aeromech Incorporated                  0.0                    0.0
119                          NaN                  0.0                    0.0
...                          ...                  ...                    ...
90268                        NaN                  0.0                    0.0
90278     Turpial Airlines, C.A.                  0.0                    0.0
90280         Flair Airlines Ltd                  0.0                    0.0
90285                        NaN                  0.0                    0.0
90310  Thai Lion Mentari co.,ltd                  0.0                    0.0

      Total_Minor_Injuries Total_Uninjured Weather_Condition  \
23                     0.0             1.0               VMC
40                     0.0             1.0               VMC
79                     0.0           149.0               UNK
80                     0.0             2.0               VMC
119                    0.0             1.0               IMC
...                    ...             ...               ...
90268                  0.0            71.0               NaN
90278                  0.0            73.0               NaN
90280                  0.0           140.0               NaN
90285                  0.0           186.0               NaN
90310                  0.0           102.0               NaN

       Broad_phase_of_flight   Report_Status Publication_Date
23                  Approach  Probable Cause       03-01-1983
40                    Cruise  Probable Cause       05-01-1983
79                    Cruise  Probable Cause       12-01-1983
80                      Taxi  Probable Cause       12-01-1983
119                  Descent  Probable Cause       19-01-1983
...                      ...             ...              ...
90268                    NaN             NaN       25-11-2022
90278                    NaN             NaN       25-11-2022
90280                    NaN             NaN       25-11-2022
90285                    NaN             NaN       22-12-2022
90310                    NaN             NaN       22-12-2022

[3874 rows x 31 columns]